@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2,h4{
  margin: 0;
  color: rgb(31, 31, 110);
  margin-bottom: 2rem;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.task-creator-container>div{
  display: grid;
  grid-auto-flow: row;
  padding: 2rem 12rem;
}
.task-creator-container label{
  font-size: smaller;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(31, 31, 110);
}
.task-creator-container input{
  height: 2.5rem;
  max-width: 15rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border:1px solid lightgray;
}
.task-creator-container button{
  height: 3rem;
  width: 7rem;
  background-color: rgb(193, 193, 248);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.toggle-button-wrappper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.task-viewer-container{
  padding: 2rem;
  padding-right: 12rem;
  border-left: 1px solid black;
  height: 100vh;
}
.all-tasks{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  
  height: 70vh;
  overflow: auto;
}
.one-task-wrapper{
  border:1px solid black;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
}
.toggle-button-wrappper button{
 
  border: none;
  background-color: white;
  border:1px solid rgb(193, 193, 248);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: fit-content;
  padding: 0.2rem 0.5rem;
}
.toggle-button-wrappper button.active{
  background-color: rgb(193, 193, 248);
}




